.illustImg{
  height: 60vh;
  width: 60vw;
  vertical-align: middle;
  @media screen and (max-width: 600px) {
    height: 30vh;
    width: 90vw;
    vertical-align: middle;
  }
}

.illustConatiner{
  width: 100vw;
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  @media screen and (max-width: 600px) {
    height: 60vh;
    line-height: 60vh;
  }
}